div{
  border: solid red;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}
.logo_place_header{
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}
.header__title{
  width: 730px;
  left: 64px;
  align-items: center;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
}
.header__subtitle{
  z-index: 3;
  width: 388px;
  left: 64px;
  bottom: 30px;
}
.header__main-ilustration{
  position: absolute;
  width: 756px;
  height: 608px;
  z-index: 1;
  right: 0;
  bottom: 0;
}
.header__square{
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
  right: 0;
  bottom: 0;

}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
